{% extends 'layout.html' %}
{% block title %}{% endblock  %}
{% block content %}
<div class="container">
    <h1 class="text-center">
        {{title}}
    </h1>

<hr>
<br><br><br><br>
<p>Create a to-do list as simple or detailed as you need. Everything in Asana starts with a task, which is an actionable to-do that can stand alone or be a building block for bigger projects. Connect the tasks on your to-do lists back to larger projects, loop in teammates, and share real-time updates online.
    The first step in making a better to-do list is deciding where to keep it. It's important that you love the app or notebook you use for your to-do list, otherwise you might not stick with it.

Notice how I said "notebook?" While there are many benefits to putting your to-do list into an app (and I'll list them in a moment), there is nothing wrong with paper! If paper works for you, great. Likewise, a simple spreadsheet or word processing document is fine, too. Use the tool that's right for you.
</p>
</div>

{% endblock  %}